---
---
@import "variables";
@import "mixins";
@import "formats";
@import "icons";
@import "header";
@import "footer";
@import "certs";

@import "home";

html, body {
	height:100%;
	background:$background-color;
	font-size:16px;
}

a, a:visited {
	color:$link-color;
	text-decoration:none;
}

a:hover {
	color:$link-hover-color;
	text-decoration:none;
}

.container {
	max-width:$container-width;
}

.default {
	padding:$container-padding-top 0;
}

.wrap {
	border:3px $border-color solid;
	border-radius:$border-radius
	// box-shadow:3px 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.content {
	background:$body-color;
	padding:10px;
}

.row {
	padding:0;
	margin:0;
}

.img {
	@include img_class;
	border:1px #000 solid;
	box-shadow:2px 2px 5px 1px #222;
}

.img-no-border {
	@include img_class;

}

@import "mqueries";


