---
---
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import "variables";
@import "mixins";
@import "formats";
@import "header";
@import "footer";
@import "certs";


//pages
@import "home";
@import "about";
@import "classes";

body {
	margin:20px 0;
	background:$background-color;
	font-size:16px;
}

a, a:visited {
	color:$link-color;
	text-decoration:none;
}

a:hover {
	color:$link-hover-color;
	text-decoration:none;
}

.container {
	max-width:$container-width;
}

.default {
	border:1px $border-color solid;
	border-radius:$border-radius;
	box-shadow:1px 1px 10px 2px #E3E3E3;
}

.content {
	background:$body-color;
	padding:$content-padding;
	padding-top:10px;
}

.img-border {
	@include img;
	border:1px #000 solid;
	box-shadow:2px 2px 5px 1px #333;
}

.img {
	@include img;

}

@import "mqueries";


