<div class="bottom-bar row">
	<div class="col-sm-6 copyright">
		<p><i class="fa fa-copyright"> 2015 SevenDaysYoga </i></p>
	</div>
	<div class="col-sm-6">
		<div class="certs">
			<div class = "inner-certs">
				<div id = "ryt">
					<a href="http://yogaalliance.org"><img src = "img/ryt-icon.png"></a>
				</div>
				<div id ="cpr">
					<i class="fa fa-heartbeat"></i>
					<div id = "certified">
						<p>CPR/AED certified</p>
						<p>Insured</p>
					</div>
				</div>
			</div>
		</div>
</div>