<head>
	<title>{{page.title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Seven Days Yoga - Will Pugh is a yoga instructor teaching in Atlanta, GA." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='/css/bootstrap-grid.css'>
	<link rel="stylesheet" href="/css/main.css">
</head>