.bottom-bar {
	width:100%;
	background-color:$footer-color;
	color:$footer-font-color;
	border-top:1px $border-color solid;
	border-bottom-right-radius:$border-radius;
	border-bottom-left-radius:$border-radius;
}


.copyright {

	p {
		margin:35px;
		padding:0;
	}
}