header {
	padding:12px 0;
	background-color:$header-color;
	border-bottom:1px $border-color solid;
	border-top-right-radius:$border-radius;
	border-top-left-radius:$border-radius;
	box-shadow: 0px 2px 5px -1px #ddd;
}

.logo {
	padding:10px 0;
}
