.welcome {
	text-align:center;
	vertical-align:middle;
	margin-left:40px;
	color:$link-color;
	font-size:36px;
	font-weight:200;
	font-family: 'Great Vibes', cursive;

	h2,h3 {
		margin:0;
		padding:0;
	}
}

.info {
	max-width:500px;
	margin:0 auto;
}

#will {
	max-width:400px;
	margin:0 auto;
	padding-top:50px;

	h2 {
		margin-top:20px;
		margin-bottom:5px;
		font-family: 'Great Vibes', cursive;
		font-size:1.3em;
		color:$link-color;
		text-align:center;
	}

	h3 {
		text-align:center;
		margin-bottom:0;
		margin-top:10px;
		font-family: 'Great Vibes', cursive;
		font-weight: 800;
		font-size:1.5em;
	}
}

