@media (max-width:768px){

	.content {
		padding:0;
		padding-top:5px;
	}

	.text-right {
		text-align:center;
	}

	.default {
		padding:0;
	}
	
	.welcome {
		margin-left:20px;
	}
	
	#will {
		padding-top:10px;
	}

	#splash {
		text-align:center;

		h1 {
			margin:0;

		}

		h4 {
			margin-bottom:10px;
		}
	}

	.list {
		margin:0;
	}

	.copyright p {
		margin:0;
		padding:10px;
		text-align:center;
	}

	.inner-certs {
		text-align:center;
	}

	.splash {
		text-align:center;
	}

	.icons {
	font-size:32px;
	padding-top:10px;
	padding-bottom:20px;

	i {
		margin:0 10px;
	}

}

	body {
		margin:0;
	}

	.container {
		background:#fff;
	}

	.default {
		border:none;
		border-radius:0px;
		box-shadow:none;
	}


	.cl-container {
		margin-bottom:60px;
	}

	.cl-text{


	.title {

		text-align: center;
	}

	.location {
		text-align: center;
	}

}
}

@media (max-width:992px) {


}



