@media (max-width:768px){

	.content {
		padding:0;
		padding-top:5px;
	}

	.text-right {
		text-align:center;
	}

	.default {
		padding:0;
	}

	#will {
		padding-top:10px;
	}

	#splash {
		text-align:center;

		h1 {
			margin:0;

		}

		h4 {
			margin-bottom:10px;
		}
	}

	.list {
		margin:0;
	}

	.copyright p {
		margin:0;
		padding:10px;
		text-align:center;
	}

	.inner-certs {
		text-align:center;
	}

	.splash {
		text-align:center;
	}

	.icons {
	font-size:32px;
	padding:5px;

	i {
		margin:0 10px;
	}
}

}
