//colors
$background-color:#F8F8F8;
$font-color: #222;
$header-color:#fff;
$logo-color: #555;

$link-color:#C34748;
$link-hover-color:#F14F55;
$link-visited-color:#C34748;

$footer-color:#fff;
$footer-font-color:#CFCFCF;
$border-color:#DDDDDD;

//widths & heights
$container-padding-top:30px;
$container-width:960px;
$content-padding:30px;
$footer-height:100px;
